<article id="<%= post.layout %>-<%= post.slug %>" class="article article-single article-type-<%= post.layout %>" itemscope itemprop="blogPost">
        <% if (post.link || post.title) { %>
            <header class="article-header" itemprop="headline">
                <%- partial('post/title', { class_name: 'article-title' }) %>
            </header>
        <% } %>
        <div class="article-subtitle" itemprop="description">
            <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
            <%- partial('post/tag') %>
        </div>
        <div class="article-entry" itemprop="articleBody">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- articulos -->
            <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-4967243132865960"
             data-ad-slot="5586146720"
             data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
            
            <%- post.content %>
            <h6 itemprop="author" itemscope itemtype="https://schema.org/Person">
              <span itemprop="name">La Red Semanario</span>
            </h6>
            <div id="ENGAGEYA_WIDGET_93094"></div>
            <script>
            (function(E,n,G,A,g,Y,a){E['EngageyaObject']=g;E[g]=E[g]||function(){ (E[g].q=E[g].q||[]).push(arguments)},E[g].l=1*new Date();Y=n.createElement(G), a=n.getElementsByTagName(G)[0];Y.async=1;Y.src=A;a.parentNode.insertBefore(Y,a)})(window,document,'script','//widget.engageya.com/engageya_loader.js','__engWidget');
            __engWidget('createWidget',{wwei:'ENGAGEYA_WIDGET_93094'<Plug>PeepOpenubid:168324,webid:134972,wid:93094});
            </script>
        <footer class="article-footer">
            <%- partial('share/index', { post: post }) %>
        </footer>
    </div>
</article>
<%- partial('comment/index') %>
